name: "Renovate Bot"
on:
  workflow_dispatch:
  push:
    branches:
      - main
      
jobs:
  renovate_runner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v39.1.0
        env:
          LOG_LEVEL: debug
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
